<div class="container-fluid">
  <mat-toolbar color="warn" class="justify-content-center">
    Admin Dashboard
  </mat-toolbar>
  <mat-card class="mobile-card">
    <img mat-card-image src="../../../../assets/CategoryImages/Mobiles.png">
    <mat-card-content>
      <h1 style="text-align: center;"> Mobiles</h1>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" [routerLink]="'/admin/adminMobiles'">View</button>
    </mat-card-actions>
  </mat-card>
</div>
