
<h1>Interpolation</h1>
<!--<h3>My Name is : {{myName}} </h3>
<h3> {{"My Name is :"+myName}} </h3>
<h3>Name Length : {{myName.length}}</h3>
<h3> Name in UpperCase:  : {{myName.toUpperCase()}}</h3>
<h3>abc value: {{abc}}</h3>
<h3>abc value: {{abc > 12}}</h3>
<h3>abc value: {{abc < 12}}</h3>
<h3>abc value: {{abc <= 10}}</h3>
<h3>{{10 + 20}}</h3>

Don'ts-->
<!--<h2>{{abc = 20}}</h2> -->
<!--<h2>{{abc++}}</h2> -->
<!--{{window.location.href}}
<h2>my Location: {{myLocation}}</h2>-->

<input type="text" name="myName" value="RSK" >
<h3>{{myName}}</h3>
<h2>{{getMyName()}}</h2>
<h2>{{myName}}</h2>

