<h1>PIPES</h1>
<h2>{{name}}</h2>
<h2>{{name | uppercase}}</h2>
<h2>{{name | titlecase}}</h2>
<h2>{{name | slice: 3}}</h2>
<h2>{{name | slice: 3: 6}}</h2> <!--Not including 5th . 3rd and 4th -->

<h2>{{5.678 | number:'1.2-3'}}</h2>
<h2>{{5.622 | number:'3.1-2'}}</h2>

<h2>{{0.25  | percent }}</h2>
<h2>{{0.25  | currency  }}</h2>
<h2>{{0.25  | currency : 'INR' }}</h2>

<h2>{{date}}</h2>
<h2>{{date | date :'short'}}</h2>
<h2>{{date | date :'shortDate'}}</h2>
<h2>{{date | date :'shortTime'}}</h2>
<h2>{{date | date :'medium'}}</h2>
<h2>{{date | date :'mediumDate'}}</h2>
<h2>{{date | date :'mediumTime'}}</h2>
