<h1>ngSwitch Directive</h1>
<div [ngSwitch]="myChoice">
  <div *ngSwitchCase="'one'">
    <h1>Case ONE</h1>
    <h1>Case ONE</h1>
    <h1>Case ONE</h1>
  </div>
  <div *ngSwitchCase="'two'">
    <h1>Case Two</h1>
    <h1>Case Two</h1>
    <h1>Case Two</h1>
  </div>
  <div *ngSwitchCase="'three'">
    <h1>Case Three</h1>
    <h1>Case Three</h1>
    <h1>Case Three</h1>
  </div>
  <div *ngSwitchCase="'four'">
    <h1>Case Four</h1>
    <h1>Case Four</h1>
    <h1>Case Four</h1>
  </div>

  <div *ngSwitchDefault>
    <h1>Wrong Choice</h1>
  </div>
</div>
