<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h3>Your payment: {{grandTotal}}/-</h3>
      </div>
    </div>
    <div class="input-radio">
      <input type="radio" name="payment">
      <label style="font-weight: 800">Direct Bank Transfer</label>
    </div>
    <div class="input-radio">
      <input type="radio" name="payment">
      <label style="font-weight: 800">UPI Transfer</label>
    </div>
    <div class="input-radio">
      <input type="radio" name="payment">
      <label style="font-weight: 800">Cash on Delivery</label>
    </div>
    <button type="submit" mat-raised-button color="warn" (click)="placeOrder()">Place Order</button>
  </div>

</div>

